<figure class="image is-3by4">
  <a href="/users/{{ .Slug }}/books/{{ .Isbn }}" title="{{ .Title }}">
    <img src="{{ book_cover .Image.String .GoogleBooksID.String }}" loading="lazy" class="cover">
  </a>
</figure>

<progress
    class="progress {{ if lt .PageRead .PageCount }}is-link{{ else }}is-success{{ end }}"
    style="border-radius: 0 0 290486px 290486px; height:0.5rem"
    value="{{ .PageRead }}"
    max="{{ .PageCount }}"
    title="{{ .PageRead }}/{{ .PageCount }}" >
  {{ .PageRead }}/{{ .PageCount }}
</progress>
