<h2 class="title">
  <a href="/users/{{ .user.Slug }}/books/{{ .book.isbn }}">
    {{ .book.title }}
  </a>
</h2>

<div class="notification is-info is-light">
  When accessing this page from your phone it'll prompt you to capture a photo using your phone camera. <br/>
  Use <strong>3:4 aspect ratio</strong> when taking your picture for best result.
</div>

<form action="/users/{{ .user.Slug }}/books/{{ .book.isbn }}/image" method="POST" enctype="multipart/form-data">
  {{ .csrf }}

  <div class="field">
    <label class="label">Cover Image</label>
    <div class="control">
      <input class="input {{ if include .book.errors "image"  }}is-danger{{ end }}" type="file" name="image"  accept="image/*;capture=camera" required>
      {{ if include .book.errors "image" }}
        <p class="help is-danger">{{ call .book.errors.full_messages_for "image" }}</p>
      {{ end }}
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>
