<script type="text/javascript" src="/google_books.js"></script>

<p>
  <google-books></google-books>
</p>

<form action="/users/{{ .user.Slug }}/books{{ if has_field .book "ID" }}/{{ .book.Isbn }}{{ end }}" method="POST">
  {{ .csrf }}
  <input type="hidden" name="google_books_id" value="{{ .book.GoogleBooksID }}">

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input
          class="input {{ if index .errors "title" }}is-danger{{ end }}"
          type="text"
          name="title"
          value="{{ .book.Title }}"
          onchange="document.getElementsByTagName('google-books')[0].setAttribute('keyword', this.value)"
          required
          autofocus>
      {{ template "common/errors" index .errors "title" }}
    </div>
  </div>

  {{ if has_field .book "ID" | not }}
    <div class="field">
      <label class="label">ISBN</label>
      <div class="control">
        <input
            class="input {{ if index .errors "isbn" }}is-danger{{ end }}"
            type="number"
            name="isbn"
            value="{{ .book.Isbn }}"
            onchange="document.getElementsByTagName('google-books')[0].setAttribute('keyword', `isbn:${this.value}`)"
            required>
        {{ template "common/errors" index .errors "isbn" }}
      </div>
    </div>
  {{ end }}

  <div class="field">
    <label class="label">Author</label>
    <div class="control">
      <input
          class="input {{ if index .errors "author" }}is-danger{{end}}"
          type="text"
          name="author"
          onchange="document.getElementsByTagName('google-books')[0].setAttribute('keyword', this.value)"
          value="{{ .book.Author }}"
          required>
      {{ template "common/errors" index .errors "author" }}
    </div>
  </div>

  <details class="field">
    <summary>Optional details</summary>

    <div class="field">
      <label class="label">Subtitle</label>
      <div class="control">
        <input
            class="input {{ if index .errors "subtitle" }}is-danger{{ end }}"
            type="text"
            name="subtitle"
            value="{{ .book.Subtitle }}">
        {{ template "common/errors" index .errors "subtitle" }}
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea
            class="textarea {{ if index .errors "description" }}is-danger{{ end }}"
            name="description">{{ .book.Description }}</textarea>
        {{ template "common/errors" index .errors "description" }}
      </div>
    </div>

    <div class="field">
      <label class="label">Publisher</label>
      <div class="control">
        <input
            class="input {{ if index .errors "publisher" }}is-danger{{ end }}"
            type="text"
            name="publisher"
            value="{{ .book.Publisher }}">
        {{ template "common/errors" index .errors "publisher" }}
      </div>
    </div>

    <div class="field">
      <label class="label">Pages</label>
      <div class="control">
        <input
            class="input {{ if index .errors "page_count" }}is-danger{{ end }}"
            type="number"
            name="page_count"
            value="{{ .book.PageCount }}">
        {{ template "common/errors" index .errors "page_count" }}
      </div>
    </div>

  </details>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>

{{ if has_field .book "ID" }}
  <form action="/users/{{ .user.Slug }}/books/{{ .book.Isbn }}" method="POST" class="has-text-right">
    <input type="hidden" name="_method" value="DELETE">
    {{ .csrf }}
    <button class="button is-danger">Delete!</button>
  </form>
{{ end }}
