<script type="text/javascript" src="/google_books.js"></script>

<p>
  <google-books></google-books>
</p>

<form action="/users/{{ .user.Slug }}/books/{{ if .book.persisted }}{{ .book.isbn }}{{ end }}" method="POST">
  <input type="hidden" name="authenticity_token" value"{{ .csrf }}">
  <input type="hidden" name="google_books_id" value="{{ .book.google_books_id }}">

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input
          class="input {{ if include .book.errors "title" }}is-danger{{ end }}"
          type="text"
          name="title"
          value="{{ .book.title }}"
          onchange="document.getElementsByTagName('google-books')[0].setAttribute('keyword', this.value)"
          required
          autofocus>
      {{ if include .book.errors "title" }}
        <p class="help is-danger">{{ call .book.errors.full_messages_for "title" }}</p>
      {{ end }}
    </div>
  </div>

  {{ if not .book.persisted }}
    <div class="field">
      <label class="label">ISBN</label>
      <div class="control">
        <input
            class="input {{ if include .book.errors "isbn" }}is-danger{{ end }}"
            type="number"
            name="isbn"
            value="{{ .book.isbn }}"
            onchange="document.getElementsByTagName('google-books')[0].setAttribute('keyword', `isbn:${this.value}`)"
            required>
        {{ if include .book.errors "isbn" }}
          <p class="help is-danger">{{ call .book.errors.full_messages_for "isbn" }}</p>
        {{ end }}
      </div>
    </div>
  {{ end }}

  <div class="field">
    <label class="label">Author</label>
    <div class="control">
      <input
          class="input {{ if include .book.errors "author" }}is-danger{{end}}"
          type="text"
          name="author"
          onchange="document.getElementsByTagName('google-books')[0].setAttribute('keyword', this.value)"
          value="{{ .book.author }}"
          required>
      {{ if include .book.errors "author" }}
        <p class="help is-danger">{{ call .book.errors.full_messages_for "author" }}</p>
      {{ end }}
    </div>
  </div>

  <details class="field">
    <summary>Optional details</summary>

    <div class="field">
      <label class="label">Subtitle</label>
      <div class="control">
        <input
            class="input {{ if include .book.errors "subtitle" }}is-danger{{ end }}"
            type="text"
            name="subtitle"
            value="{{ .book.subtitle }}">
        {{ if include .book.errors "subtitle" }}
          <p class="help is-danger">{{ call .book.errors.full_messages_for "subtitle" }}</p>
        {{ end }}
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea
            class="textarea {{ if include .book.errors "description" }}is-danger{{ end }}"
            name="description">{{ .book.description }}</textarea>
        {{ if include .book.errors "description" }}
          <p class="help is-danger">{{ call .book.errors.full_messages_for "description" }}</p>
        {{ end }}
      </div>
    </div>

    <div class="field">
      <label class="label">Publisher</label>
      <div class="control">
        <input
            class="input {{ if include .book.errors "publisher" }}is-danger{{ end }}"
            type="text"
            name="publisher"
            value="{{ .book.publisher }}">
        {{ if include .book.errors "publisher" }}
          <p class="help is-danger">{{ call .book.errors.full_messages_for "publisher" }}</p>
        {{ end }}
      </div>
    </div>

    <div class="field">
      <label class="label">Pages</label>
      <div class="control">
        <input
            class="input {{ if include .book.errors "page_count" }}is-danger{{ end }}"
            type="number"
            name="page_count"
            value="{{ .book.page_count }}">
        {{ if include .book.errors "page_count" }}
          <p class="help is-danger">{{ call .book.errors.full_messages_for "page_count" }}</p>
        {{ end }}
      </div>
    </div>

  </details>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>

{{ if .book.persisted }}
  <form action="/users/{{ .user.Slug }}/books/{{ .book.isbn }}" method="POST" class="has-text-right">
    <input type="hidden" name="_method" value="DELETE">
    <input type=hidden name=authenticity_token value="{{ .csrf }}">
    <button class="button is-danger">Delete!</button>
  </form>
{{ end }}
