<div class="columns">
  <div class="column is-3">
    <figure class="image is-3by4 mb-5">
      <img src="{{ .book_cover .book }}" loading="lazy" class="cover">
    </figure>

    {{ if can "edit" .book }}
      <form action="/users/{{ .user.slug }}/books/{{ .book.isbn }}/shelf" method="POST">
        <input type=hidden name=authenticity_token value="{{ .csrf }}">
        <div class="field">
          <div class="control">
            <a class="button is-fullwidth" href="/users/{{ .user.slug }}/books/{{ .book.isbn }}/image">Change Cover</a>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <a class="button is-fullwidth" href="/users/{{ .user.slug }}/books/{{ .book.isbn }}/edit">Edit</a>
          </div>
        </div>
        <div class="field has-addons">
          <div class="control is-expanded">
            <span class="select is-fullwidth">
              <select name="shelf_id">
                <option value="" {{ if not .book.shelf }}selected{{ end }}>No Shelf</option>
                {{ range .current_user.shelves }}
                <option value="{{ .id }}" {{ if eq . .book.shelf }}selected{{ end }}>{{ .name }}</option>
                {{ end }}
              </select>
            </span>
          </div>

          <div class="control">
            <button class="button">Move</button>
          </div>
        </div>

        {{ if can "highlight" .book }}
          <div class="field">
            <div class="control">
              <a class="button is-warning is-fullwidth" href="/users/{{ .user.slug }}/books/{{ .book.isbn }}/highlights/new">
                Create Highlight
              </a>
            </div>
          </div>
        {{ end }}

      </form>
    {{ end }}

    <hr/>

    <div class="buttons">
      <a class="button is-fullwidth" href="https://www.amazon.de/s?k={{ .book.isbn }}&tag={{ .user.amazon_associates_id }}" target="_blank" rel="noopener">On Amazon.de</a>
      <a class="button is-fullwidth" href="https://www.goodreads.com/search?q={{ .book.isbn }}" target="_blank" rel="noopener">On Goodreads.com</a>
    </div>

  </div>

  <div class="column content">
    {{ if .book.shelf }}
      <a class="tag is-info is-light" href="/users/{{ .user.slug }}#shelf-{{ .book.shelf.id }}">{{ .book.shelf.name }}</a>
    {{ end }}
    <h2 class="title">
      {{ .book.title }}
    </h2>

    {{ if .book.subtitle }}
      <p class="subtitle">
        {{ .book.subtitle }}
      </p>
    {{ end }}

    <p class="subtitle is-capitalized">
      👤 {{ .book.author }}
    </p>

    {{ if .book.description }}
      <p class="content">
        {{ .book.description }}
      </p>
    {{ end }}

    {{ partial "common/_separator" }}
    {{ range .book.highlights }}

      <p class="has-text-centered has-text-weight-bold has-text-grey">
        « PAGE {{ .page }} »
      </p>

      <p>
        {{ if can "edit" . }}
          <a href="/users/{{ .user.slug }}/books/{{ .book.isbn }}/highlights/{{ .id }}/edit" class="icon is-medium">✏️</a>
          <a href="/users/{{ .user.slug }}/books/{{ .book.isbn }}/highlights/{{ .id }}/image" class="icon is-medium">📸</a>
        {{ end }}
        {{ simple_format .content }}
      </p>

        {{ if .image }}
          <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
              <figure class="image">
                <img src="{{ .image_url }}" loading="lazy">
              </figure>
            </div>
            <div class="column"></div>
          </div>
        {{ end }}

    {{ end }}

  </div>
</div>
