<div class="columns">
  <div class="column is-3">
    <figure class="image is-3by4 mb-5">
      <img src="{{ book_cover .book.Image.String .book.GoogleBooksID.String }}" loading="lazy" class="cover">
    </figure>

    {{ if can .current_user "edit" .book }}
      <form action="/users/{{ .user.Slug }}/books/{{ .book.Isbn }}/shelf" method="POST">
        {{ .csrf }}
        <div class="field">
          <div class="control">
            <a class="button is-fullwidth" href="/users/{{ .user.Slug }}/books/{{ .book.Isbn }}/image">Change Cover</a>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <a class="button is-fullwidth" href="/users/{{ .user.Slug }}/books/{{ .book.Isbn }}/edit">Edit</a>
          </div>
        </div>
        <div class="field has-addons">
          <div class="control is-expanded">
            <span class="select is-fullwidth">
              <select name="shelf_id">
                <option value="" {{ if not .book.ShelfID }}selected{{ end }}>No Shelf</option>
                {{ range .current_user.Shelves }}
                <option value="{{ .ID }}" {{ if eq . $.book.ShelfID }}selected{{ end }}>{{ .Name }}</option>
                {{ end }}
              </select>
            </span>
          </div>

          <div class="control">
            <button class="button">Move</button>
          </div>
        </div>

        {{ if can .current_user "highlight" .book }}
          <div class="field">
            <div class="control">
              <a class="button is-warning is-fullwidth" href="/users/{{ .user.Slug }}/books/{{ .book.Isbn }}/highlights/new">
                Create Highlight
              </a>
            </div>
          </div>
        {{ end }}

      </form>
    {{ end }}

    <hr/>

    <div class="buttons">
      <a class="button is-fullwidth" href="https://www.amazon.de/s?k={{ .book.Isbn }}&tag={{ .user.AmazonAssociatesID.Value }}" target="_blank" rel="noopener">On Amazon.de</a>
      <a class="button is-fullwidth" href="https://www.goodreads.com/search?q={{ .book.Isbn }}" target="_blank" rel="noopener">On Goodreads.com</a>
    </div>

  </div>

  <div class="column content">
    {{ if .book.ShelfID.Valid }}
      <a class="tag is-info is-light" href="/users/{{ .user.Slug }}#shelf-{{ .book.ShelfID.Int32 }}">{{ .book.ShelfName }}</a>
    {{ end }}
    <h2 class="title">
      {{ .book.Title }}
    </h2>

    {{ if .book.Subtitle }}
      <p class="subtitle">
        {{ .book.Subtitle }}
      </p>
    {{ end }}

    <p class="subtitle is-capitalized">
      👤 {{ .book.Author }}
    </p>

    {{ if .book.Description }}
      <p class="content">
        {{ .book.Description }}
      </p>
    {{ end }}

    {{ template "common/separator" }}

    {{ range .highlights }}
      <p class="has-text-centered has-text-weight-bold has-text-grey">
        « PAGE {{ .Page }} »
      </p>

      <p>
        {{ if can $.current_user "highlight" $.book }}
          <a href="/users/{{ $.user.Slug }}/books/{{ $.book.Isbn }}/highlights/{{ .ID }}/edit" class="icon is-medium">✏️</a>
          <a href="/users/{{ $.user.Slug }}/books/{{ $.book.Isbn }}/highlights/{{ .ID }}/image" class="icon is-medium">📸</a>
        {{ end }}
        {{ simple_format .Content }}
      </p>

        {{ if .Image.Valid }}
          <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
              <figure class="image">
                <img src="/highlights/image/{{ .Image.String }}" loading="lazy">
              </figure>
            </div>
            <div class="column"></div>
          </div>
        {{ end }}

    {{ end }}

  </div>
</div>
