<nav class="navbar container is-max-widescreen" role="navigation" aria-label="main navigation">
  <input id="menu-switch" name="menu-switch" type="checkbox"/>
  <div class="navbar-brand">
    <div class="columns is-mobile navbar-item my-0">
      <div class="column is-narrow">
        <figure class="image is-32x32">
          <a href="/users/{{ .current_user.Slug }}">
            <img class="is-rounded" src="{{ or .current_user.Image.String "/default_user" }}"/>
          </a>
        </figure>
      </div>
      <div class="column is-hidden-mobile">
        <a href="/users/{{ .current_user.Slug }}">
          {{ .current_user.Name.String }}
        </a>
      </div>
    </div>


    <label role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" for="menu-switch">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </label>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-end">
      {{ if can .current_user "create_book" .current_user }}
        <a href="/users/{{ .current_user.Slug }}/books/new" class="navbar-item">
          <span class="icon"><i class="fa-solid fa-book-medical"></i></span>
          <span>Add a Book</span>
        </a>
      {{ end }}

      {{ if can .current_user "list_shelves" .current_user }}
        <a href="/users/{{ .current_user.Slug }}/shelves" class="navbar-item">
          <span class="icon"><i class="fa-solid fa-layer-group"></i></span>
          <span>Manage Shelves</span>
        </a>
      {{ end }}

        <a href="/users/{{ .current_user.Slug }}/edit" class="navbar-item">
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span>Settings</span>
        </a>
        <a href="/logout" class="has-text-danger navbar-item">
          <span class="icon"><i class="fa-solid fa-power-off"></i></span>
          <span>Logout</span>
        </a>
    </div>
  </div>
</nav>
