<form action="/users/{{ .user.Slug }}/shelves/{{ .shelf.id }}" method="POST">
  {{ .csrf }}

  <div class="field">
    <label class="label">Shelf name</label>
    <div class="control">
      <input
          class="input"
          type="text"
          name="name"
          placeholder="Shelf name..."
          value="{{ .shelf.name }}"
          required
          autofocus>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button">Save</button>
    </div>
  </div>
</form>

<form action="/users/{{ .user.Slug }}/shelves/{{ .shelf.id }}" method="POST" class="has-text-right">
  <input type="hidden" name="_method" value="DELETE">
  {{ .csrf }}
  <button class="button is-danger">Delete!</button>
</form>
