{{ if not .shelves }}
  <div class="notification has-text-centered">
    You don't have any shelves in your library yet.
  </div>
{{ else }}
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th> Shelf </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {{ range .shelves }}
        <tr>
          <td>
            {{ .Name }}
          </td>
          <td>
              <a class="button is-small is-pulled-right" href="/users/{{ $.user.Slug }}/shelves/{{ .ID }}/edit">Edit</a>
              <form action="/users/{{ $.user.Slug }}/shelves/{{ .ID }}/up" class="is-pulled-right" method="POST">
                {{ $.csrf }}
                <button class="button is-small">↑</button>
              </form>
              <form action="/users/{{ $.user.Slug }}/shelves/{{.ID }}/down" class="is-pulled-right" method="POST">
                {{ $.csrf }}
                <button class="button is-small">↓</button>
              </form>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}

{{ if can .current_user "create_shelf" .user }}
  <div class="content">
    <form action="/users/{{ .user.Slug }}/shelves" method="POST">
      {{ .csrf }}

      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" type="text" name="name" placeholder="Shelf name..." required>
        </div>
        <div class="control">
          <button class="button">New Shelf 📚</button>
        </div>
      </div>
    </form>
  </div>
{{ end }}
