{{ if not .shelves }}
  <div class="notification has-text-centered">
    You don't have any shelves in your library yet.
  </div>
{{ else }}
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th colspan="4"> Shelf </th>
      </tr>
    </thead>
    <tbody>
      {{ $lastitem := last .shelves }}
      {{ range .shelves }}
        <tr>
          <td width="100%">
            {{ .Name }}
          </td>
          <td>
            {{ if can $.current_user "down" . }}
            {{ if ne $lastitem . }}
            <form action="/users/{{ $.user.Slug }}/shelves/{{.ID }}/down" method="POST">
              {{ $.csrf }}
              <button class="button is-small">
                <span class="icon"><i class="fa-solid fa-angle-down"></i></span>
              </button>
            </form>
            {{ end }}
            {{ end }}
          </td>
          <td>
            {{ if can $.current_user "up" . }}
            <form action="/users/{{ $.user.Slug }}/shelves/{{ .ID }}/up" method="POST">
              {{ $.csrf }}
              <button class="button is-small">
                <span class="icon"><i class="fa-solid fa-angle-up"></i></span>
              </button>
            </form>
            {{ end }}
          </td>
          <td>
            <a class="button is-small" href="/users/{{ $.user.Slug }}/shelves/{{ .ID }}/edit">
              <span class="icon"><i class="fa-solid fa-pen"></i></span>
              <span>Edit</span>
            </a>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}

{{ if can .current_user "create_shelf" .user }}
  <div class="content">
    <form action="/users/{{ .user.Slug }}/shelves" method="POST">
      {{ .csrf }}

      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input {{ if index .errors "name" }}is-danger{{ end }}" type="text" name="name" placeholder="Shelf name..." value="{{ .shelf.Name }}" required>
          {{ template "common/errors" index .errors "name" }}
        </div>
        <div class="control">
          <button class="button">
            <span class="icon"><i class="fa-solid fa-circle-plus"></i></span>
            <span>New Shelf</span>
          </button>
        </div>
      </div>
    </form>
  </div>
{{ end }}
