<div class="columns">
  <div class="column">
    <h2 class="title is-3">
      <%=h shelf.name %>
    </h2>
  </div>
  <% if can? :edit, shelf %>
    <div class="column has-text-right">
      <a class="button" href="/shelves/<%= shelf.id %>/edit">Edit</a>
    </div>
  <% end %>
</div>

<% if shelf.books.count > 0 %>
  <div class="columns is-multiline">
    <% shelf.books.each do |book| %>
      <div class="column is-3">
        <%= erb :'books/_book', locals: { book: book } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="notification has-text-centered">
    This is an empty shelf!
  </div>
<% end %>
