<h2 class="title is-3">
  <%=h shelf.name %>
  <% if can? :edit, shelf %>
    <a class="button is-small is-pulled-right" href="/users/<%= user.slug %>/shelves/<%= shelf.id %>/edit">Edit</a>
  <% end %>
</h2>

<% if shelf.books.exists? %>
  <div class="columns is-mobile is-multiline">
    <% shelf.books.each do |book| %>
      <div class="column is-1-tablet is-4-mobile">
        <%= erb :'books/_book', locals: { book: book } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="notification has-text-centered">
    &nbsp;
  </div>
<% end %>
