<h2 class="title is-3">
  {{ .shelf.name }}
  {{ if can "edit" .shelf }}
    <a class="button is-small is-pulled-right" href="/users/{{ .user.Slug }}/shelves/{{ .shelf.id }}/edit">Edit</a>
  {{ end }}
</h2>

{{ if .shelf.books.exists }}
  <div class="columns is-mobile is-multiline">
    {{ range .shelf.books }}
      <div class="column is-2-tablet is-4-mobile">
        {{ partial "books/_book" . }}
      </div>
    {{ end }}
  </div>
{{ else }}
  <div class="notification has-text-centered">
    &nbsp;
  </div>
{{ end }}
