<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-size-1 has-text-weight-bold"> LIBRARY </p>
      <p class="subtitle"> Simply take control of your library </p>
      <p>
        {{ if can .current_user "login" nil }}
        <form action="/auth/google" method="POST">
          {{ .csrf }}
          <button class="button is-danger">
            <span class="icon"><i class="fa-brands fa-google"></i></span>
            <span>Login with Google</span>
          </button>
        </form>
        {{ end }}
      </p>
    </div>
  </div>
</section>
