<div class="content">

<h2> About </h2>

Listing your books on the internet to share your reads should have been a simple.

<ul>
  <li> List titles of the books and their authors and a picture
  <li> Maybe split them to shelves
</ul>

<p>
  But that simple tasks are very rare to find. Most of the website are over-complicated piece of slow software. with many privacy invasive trackers, bloated with javascript and has alot of confusing and distracting features.
</p>

<p>
  So this is why Library exists, it should be:
</p>

<ul>
  <li> Free software as in freedom
  <li> Simple
  <li> Fast
  <li> Doesn't track me or my friends
</ul>

Enjoy using library and if you need to have your own instance for you and your friends you can deploy your instance from
<a href="https://github.com/emad-elsaid/library">Github</a>
</div>
