<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Library" />
    <link rel="shortcut icon" href="/favicon.ico">

    {{ meta_property .meta "og:title" }}
    {{ meta_name .meta "author" }}
    {{ meta_name .meta "description" }}
    {{ meta_property .meta "og:description" }}
    {{ meta_property .meta "og:type" }}
    {{ meta_property .meta "og:image" }}
    {{ meta_name .meta "twitter:card" }}
    {{ meta_property .meta "twitter:image" }}
    {{ meta_property .meta "twitter:title" }}

    <title>{{ if .title }} {{ .title }} | {{end }} LIBRARY </title>
    <link rel="stylesheet" href="/style.css?v=2">
  </head>
  <body>
    {{ if .current_user }} {{ template "partials/user_nav" . }} {{ end }}

    <section class="section">
      <div class="container is-max-widescreen">
        {{ template "partials/header" . }}
      </div>
    </section>

    <section class="section">
      <div class="container is-max-widescreen">
        {{ partial .view . }}
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <a href="https://github.com/emad-elsaid/library" rel="noopener" target="_blank">Source code on Github</a> •
        <a href="/privacy">Privacy</a>
      </div>
    </footer>

  </body>
</html>
