<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <%= erb :'partials/user_nav' if can? :logout %>
    <%= erb :'partials/header', locals: { user: user }  %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

  </body>
</html>
