<div class="content">

  <h1>Privacy Policy</h1>

  <h2>
    Information Collected
  </h2>

  <p>
    By using google login Library will be able to collect the following personal information

    <ul>
      <li>Name</li>
      <li>Email</li>
      <li>Account Image</li>
    </ul>

    This information is not shared with any third-party company and revealed only to users of Library through the usual features such as when you request to borrow a book or a like.
  </p>

  <p>
    Other optional information you can fill it in the settings page of your account

    <ul>
      <li>Facebook url</li>
      <li>Twitter url</li>
      <li>Other social media profiles urls</li>
    </ul>

    Will be also shared with other users in certain features such as when you ask to borrow a book. or when they visit your library...etc.
  </p>

  <h2>
    Use of Cookies
  </h2>

  <p>
    Library uses cookies only for essential features. like identifying your login status. And it doesn't use any cookies for tracking or for any other analytical purposes.
  </p>

  <h2>
    Use of collected information
  </h2>

  <p>
    The collected aforementioned information is used only to deliver Library features with no other uses or shares with other third-party entities other than Library users.
  </p>

</div>
