<form action="/users/{{ .user.Slug }}" method="POST">
  {{ .csrf }}

  <div class="field">
    <label class="label">Library description</label>
    <div class="control">
      <textarea
          class="textarea {{ if index .errors "description" }}is-danger{{ end }}"
          name="description">{{ .user.Description.String }}</textarea>
      <p class="help">Maximum 500 character.</p>
      {{ template "common/errors" index .errors "description" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Amazon Associates ID</label>
    <div class="control">
      <input
          class="input {{ if index .errors "amazon_associates_id" }}is-danger{{ end }}"
          name="amazon_associates_id" value="{{ .user.AmazonAssociatesID.String }}"/>
      {{ template "common/errors" index .errors "amazon_associates_id" }}
    </div>
  </div>

  <div class="title">
    Social Profiles
  </div>

  <div class="field">
    <label class="label">Facebook</label>
    <div class="control">
      <input class="input {{ if index .errors "facebook" }}is-danger{{ end }}" name="facebook" value="{{ .user.Facebook.String }}"/>
      {{ template "common/errors" index .errors "facebook" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Twitter</label>
    <div class="control">
      <input class="input {{ if index .errors "twitter" }}is-danger{{ end }}" name="twitter" value="{{ .user.Twitter.String }}"/>
      {{ template "common/errors" index .errors "twitter" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Linkedin</label>
    <div class="control">
      <input class="input {{ if index .errors "linkedin" }}is-danger{{ end }}" name="linkedin" value="{{ .user.Linkedin.String }}"/>
      {{ template "common/errors" index .errors "linkedin" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Instagram</label>
    <div class="control">
      <input class="input {{ if index .errors "instagram" }}is-danger{{ end }}" name="instagram" value="{{ .user.Instagram.String }}"/>
      {{ template "common/errors" index .errors "instagram" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Phone</label>
    <div class="control">
      <input class="input {{ if index .errors "phone" }}is-danger{{ end }}" name="phone" value="{{ .user.Phone.String }}"/>
      {{ template "common/errors" index .errors "phone" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Whatsapp</label>
    <div class="control">
      <input class="input {{ if index .errors "whatsapp" }}is-danger{{ end }}" name="whatsapp" value="{{ .user.Whatsapp.String }}"/>
      {{ template "common/errors" index .errors "whatsapp" }}
    </div>
  </div>

  <div class="field">
    <label class="label">Telegram</label>
    <div class="control">
      <input class="input {{ if index .errors "telegram" }}is-danger{{ end }}" name="telegram" value="{{ .user.Telegram.String }}"/>
      {{ template "common/errors" index .errors "telegram" }}
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save</button>
    </div>
  </div>
</form>
